@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  background-color: white;
}

.no-mobile {
  display: none;
}

@media (max-width: 500px) {
  .no-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  .no-mobile a,
  .no-mobile a:visited {
    color: lightslategray;
    text-decoration: none;
  }
}
