.mainContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.introSection {
  padding: 1rem;
}

.introSection h1 {
  margin: 1rem 0;
}

.introSection p {
  font-size: 1.5rem;
}

.tryAgainButton {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  display: inline-block;
  width: max-content;
  align-self: center;
}
